.portfolio {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 200px;
  width: 600px;
  background: #fff;
  padding-bottom: 30px;
  border-radius: 9px;
  font: 1em sans-serif;
  color: #c01f1f;
}